@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --btn-color: #fb7413;
    --header-color: hsl(0, 0%, 100%);
    --paragraph-color: hsl(217, 12%, 63%);
    --hover-color: hsl(216, 12%, 54%);
    --bg-color: hsl(217, 9%, 29%);
    --card-bg-color: hsl(213, 19%, 18%);
    --body-bg-color: hsl(216, 12%, 8%);
}
/*===== semilar properties =====*/
h1,button,footer,h3{
    color: var(--header-color);
}
h1,h3{
    font-size: 2rem;
    font-weight: 700;
}
.text2,footer{
    text-align: center;
}
/*===== semilar properties end =====*/

body{
    background-color: var(--body-bg-color);
    font-family: 'Overpass', sans-serif;
}
.container{
    width: 400px;
    margin: 3rem auto;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    background-color: var(--card-bg-color);
}

/*===== Rating state start =====*/
.svg{
    padding: 11px;
    border-radius: 50%;
    background-color: var(--bg-color);
}

h1{
    padding: 2rem 0;
}
p{
  color: var(--paragraph-color);  
}
.text{
    padding-bottom: 2rem;
    font-size: 15px;
    line-height: 1.5;
}
.numbers{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.number{
    background-color:var(--bg-color);
    border-radius: 60%;
    padding: 1.5rem;
}
.number,button{
    cursor: pointer;
}
.number:hover{
    background-color: var(--hover-color);
    color: var(--header-color);
}
button{
    padding: 1rem 9rem;
    border-radius: 50rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn-color);
}
button:hover{
    background-color: var(--header-color);
    color: var(--btn-color);
}
/*===== Rating state end =====*/

/*===== Thank you state start =====*/
.hero{
    display: none;
}
.svg2{
    margin: 1rem auto;
}
h6{
    width: 10rem;
    margin-inline: auto;
    padding: 0.5rem 0;
    border-radius: 50rem;
    color: var(--btn-color);
    background-color:var(--bg-color);
}
h3{
    padding-top: 2rem;
    padding-bottom: 0.75rem;
}
/*===== Thank you state end =====*/

/*===== footer start =====*/
footer {
    font-size: 11px;
}
a {
    color: hsl(228, 45%, 44%); 
}
/*===== footer end =====*/

/*===== media queries =====*/
@media(max-width: 425px){
    .container{
        width: 320px;
        margin: 3rem auto;
    }
    button{
        padding: 1rem 6.5rem;
    }
    .number{
        padding: 1rem;
    }
}